@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #6F4E37;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0.5rem;
}

.logo img {
    height: 50px;
    width: auto;
    object-fit: contain;
    filter: contrast(1.05);
}

nav,
.auth {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

main {
    height: 80vh;
}

footer {
    background: #905a13;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #ddd;
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.link:hover {
    background-color: #f2f2f2;
    color: #000;
}